#parcours{
    width: 100vw;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

.presentation{
    font-size: 2rem;
    height: fit-content;
    margin: 3rem;
}

.presentation-text{
    font-size: 2rem;
}

.soft-skills{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.skills-set{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.4rem;
    font-weight: bolder;
}

ul {
    list-style-position: inside;
}
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }